@media (max-width: 1500px) {
  main {
    padding: 0 1rem;
  }
  .country_add{
    padding: .5rem;
    gap: .5rem;
  }
}

@media (max-width: 1250px) {
  main {
    padding: 0 2rem;
  }
  .weather_section {
    flex-wrap: wrap;
  }

  div.weather_highlights {
    width: 100%;
  }

  .forecast_container {
    width: 100%;
  }
}

@media (max-width: 900px) {
  .header_container {
    width: calc(100% - 5%);
  }
}

@media (max-width: 700px) {
  main {
    padding: 0 1rem;
  }
  body, html{
   font-size: 90%;
  }
  .weather_top {
    flex-wrap: wrap;
  }

  .weather_left {
    width: 100%;
  }

  .weather_right {
    width: 100%;
  }
  .forecast_tabs{
    overflow-x: scroll;
  }

  /* custom scrollbar design coding*/
  .forecast_tabs::-webkit-scrollbar {
    width: 2px; /* Width of the scrollbar */
    height: 3px;
  }

  .forecast_tabs::-webkit-scrollbar-thumb {
    background-color: #888; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Rounded corners */
  }

  .forecast_tabs::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Color on hover */
  }

  .forecast_tabs::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Color of the scrollbar track */
  }

  .forecast_tabs > div{
    width: 15rem;
  }

}

@media (max-width: 584px) {
  main {
    padding: 0 .5rem;
  }
  .weather_bottom {
    overflow-x: scroll;
  }
  /* custom scrollbar design coding*/
  .weather_bottom::-webkit-scrollbar {
    width: 2px; /* Width of the scrollbar */
    height: 3px;
  }

  .weather_bottom::-webkit-scrollbar-thumb {
    background-color: #888; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Rounded corners */
  }

  .weather_bottom::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Color on hover */
  }

  .weather_bottom::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Color of the scrollbar track */
  }

  .weather_bottom > div{
    width: 15rem;
  }
}
